@import 'bootstrap';

html {
  body {
    margin: 90px 0 50px;
  }
}

.router-link-active {
  @extend .nav-link.active;
}


body {
}
.main-content {
    @extend col-sm-6;
    @extend col-xs-12;
    background-size: cover;
    height: 800px;
    z-index: 1;
    transition: .4s all ease-in-out;

    &.space {
        background: -webkit-linear-gradient(right, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%), url('/images/space-background.png');
        background: -o-linear-gradient(right, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%), url('/images/space-background.png');
        background: linear-gradient(to left, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%), url('/images/space-background.png'); /* Chrome10-25,Safari5.1-6 */

        &:hover {
            background: -webkit-linear-gradient(left, rgba(0,0,0,0.45) 0%, rgba(0,0,0,0) 100%), url('/images/space-background.png');
            background: -o-linear-gradient(left, rgba(0,0,0,0.45) 0%, rgba(0,0,0,0) 100%), url('/images/space-background.png');
            background: linear-gradient(to right, rgba(0,0,0,0.45) 0%, rgba(0,0,0,0) 100%), url('/images/space-background.png');
        }
    }
    &.urban {
        background: -webkit-linear-gradient(left, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%), url('/images/urban-background.png');
        background: -o-linear-gradient(left, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%), url('/images/urban-background.png');
        background: linear-gradient(to right, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%), url('/images/urban-background.png'); /* Chrome10-25,Safari5.1-6 */

        &:hover {
            background: -webkit-linear-gradient(left, rgba(0,0,0,0.45) 0%, rgba(0,0,0,0) 100%), url('/images/urban-background.png');
            background: -o-linear-gradient(left, rgba(0,0,0,0.45) 0%, rgba(0,0,0,0) 100%), url('/images/urban-background.png');
            background: linear-gradient(to right, rgba(0,0,0,0.45) 0%, rgba(0,0,0,0) 100%), url('/images/urban-background.png');
        }
    }
    &:hover {
        z-index: 999;

    }
}


// --------------
// Todo Component
// --------------

.todo-item-text {
  display: block;
  padding: .435rem .8rem;
  text-transform: capitalize;
}

.todo-item-input {
  @extend .form-control;
}

.todo-item-select {
  display: none;
  margin: 13px 0 0;
}

.todo-item-delete {
  @extend .btn;
  @extend .btn-danger;
  @extend .pull-xs-right;
  display: none;
}

.todo-item {
  &:hover {
    .todo-item-select,
    .todo-item-delete {
      display: block;
    }
  }

  &.completed {
    .todo-item-text {
      color: $gray-lighter;
      text-decoration: line-through;
    }
  }
}
